<div class="container">
  <h1>Аварии</h1>
  <div class="alarms" *ngIf="alarmsList.length > 0; else noalarms">
    <div class="header">
      <div class="col col-10">Тип</div>
      <div class="col col-10">Устройство</div>
      <div class="col col-20">Время</div>
      <div class="col col-10">Место</div>
      <div class="col col-10">Параметр</div>
      <div class="col col-10">Значение</div>
      <div class="col col-10">Причина</div>
      <div class="col col-20">Квитирование</div>
    </div>
    <div
      class="row"
      [class.row-alarm]="!alarm.time_confirm"
      [class.row-confirm]="alarm.time_confirm"
      *ngFor="let alarm of alarmsList">
      <div class="col col-10">{{alarm.type}}</div>
      <div class="col col-10">{{alarm.device}}</div>
      <div class="col col-20">{{alarm.time_start | date:'dd.MM.y hh:mm:ss'}}</div>
      <div class="col col-10">{{alarm.place}}</div>
      <div class="col col-10">{{alarm.parameter}}</div>
      <div class="col col-10">{{alarm.value}}</div>
      <div class="col col-10">{{alarm.reason}}</div>
      <div class="col col-20">
        <button *ngIf="!alarm.time_confirm" (click)="confirm(alarm)">Квитировать</button>
        <ng-container *ngIf="alarm.time_confirm">
          {{alarm.time_confirm | date:'dd.MM.y hh:mm:ss'}}
          <button (click)="repair(alarm)">Починить</button>
        </ng-container>
      </div>
    </div>
  </div>

  <ng-template #noalarms>Нет аварий</ng-template>
</div>
